
{% extends 'layout.html' %}
{% load static %}

{% block content %}
    <div class="container mb-5">
        <div class="row">
            <!-- User Profile -->
            <div class="col-sm-9 offset-sm-1 border p-3">
                <div class="d-flex flex-row">
                    <div class="ml-5 mr-5">
                        <img src="{{ user.profile.avatar_url }}" class="rounded-circle" style="width: 150px;" alt="profile image">
                    </div>
                    <div class="d-flex align-items-center">
                        <div>
                            <div class="mb-3">
                                <span class="font-weight-bold mr-2">{{ user.username }}</span>
                                <span style="font-size: 12px;"><a href="{% url 'accounts:profile_edit' %}">Edit</a></span>
                            </div>
                            <div>My Scraps: {{ user.count_scraps }}</div>
                            <div>My Articles: {{ user.count_articles }}</div>
                            <div>My Comments: {{ user.count_comments }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- My Scraps -->
    <div class="container mb-5">
        <div class="row">
            <div class="col-sm-9 offset-sm-1 mb-1">
                <span class="large-font bold-font mr-2">My Scraps</span>
                <span><a href="{% url 'accounts:myscraps' %}">view all</a></span>
            </div>
            <div class="col-sm-9 offset-sm-1">
                <ul class="list-group">
                    {% if scrap_set %}
                        {% for article in scrap_set %}
                            <li class="list-group-item">
                                <a href="{% url 'board:article_detail' article.pk %}">{{ article.title }}</a>
                            </li>
                        {% endfor %}
                    {% else %}
                        <li class="list-group-item">No Scrap</li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

    <!-- My Articles -->
    <div class="container mb-5">
        <div class="row">
            <div class="col-sm-9 offset-sm-1 mb-1">
                <span class="large-font bold-font mr-2">My Articles</span>
                <span><a href="{% url 'accounts:myarticles' %}">view all</a></span>
            </div>
            <div class="col-sm-9 offset-sm-1">
                <ul class="list-group">
                    {% if article_set %}
                        {% for article in article_set %}
                            <li class="list-group-item"><a href="{% url 'board:article_detail' article.pk %}">{{ article.title }}</a></li>
                        {% endfor %}
                    {% else %}
                        <li class="list-group-item">No Article</li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

{% endblock %}